@using Newtonsoft.Json
@using PersonalFinance.Helper
@using System.Globalization
@using PersonalFinance.Models.Gastos
@{
    ViewData["Title"] = "Home Page";
    var presupuesto = ViewBag.Presupuesto.ToString("C", new CultureInfo("es-AR"));
    var presupuestoProximo = ViewBag.PresupuestoProximo.ToString("C", new CultureInfo("es-AR"));
    var ingresos = ViewBag.Ingresos.ToString("C", new CultureInfo("es-AR"));
    var gastos = ViewBag.Gastos.ToString("C", new CultureInfo("es-AR"));
    var pendientePago = ViewBag.PendientePago.ToString("C", new CultureInfo("es-AR"));
    var notificacionesJson = JsonConvert.SerializeObject(ViewBag.Notificaciones);

    List<Gasto> gastosMensualesPendientes = ViewBag.GastosMensualesPendientes;

    decimal balanceActual = ViewBag.BalanceActual;

    var resultBalance = balanceActual < 0 ? "bg-danger" : (balanceActual > 0 ? "bg-success" : "bg-warning");

}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/personalfinance.styles.css">

<script>

    var textoCodificado = '@notificacionesJson';
    var temp = document.createElement('textarea');
    temp.innerHTML = textoCodificado;
    var textoDecodificado = temp.value;


    sessionStorage.setItem('Notificaciones', textoDecodificado);

    setTimeout(function() {
            showNotifier();
                }, 3000);

    async function showNotifier() {
        var textoDecodificado = sessionStorage.getItem('Notificaciones');
        var datos = JSON.parse(textoDecodificado);
        let ocultar = parseInt(datos.length + 4 + "000");
        // Usamos for...of para poder usar await correctamente
        for (const item of datos) {            
            notifier.show(item.Titulo, item.Mensaje, '', '~/../images/' + item.Imagen, ocultar);
            await new Promise(resolve => setTimeout(resolve, 2000)); // Espera 2 segundos antes de la siguiente notificación
        }

        // Volvemos a llamar a la función después de 25 segundos
        setTimeout(function() {
            showNotifier();
        }, 25000);
    }

            
</script>

<div class="text-center">
    <h1 class="display-5">@ViewBag.Message</h1>
    <p>Bienvenido a Personal Finance.</p>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="2025" asp-controller="Home" asp-action="Index">2025</a>
                    </li>
                    <li class="nav-link">|</li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="2026" asp-controller="Home" asp-action="Index">2026</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <p></p>
    <p></p>
    <div class="row">
        <div class="col-md-6 col-xl-2">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-sm-grow-1">
                            <h6 class="mb-2 text-white">Total Presupuesto Mensual</h6>
                            <h4 class="text-white mb-0 f-w-300">@presupuesto</h4>
                            <p class="text-white-50 mb-0" title="@ViewBag.PresupuestoAnterior.ToString("C", new CultureInfo("es-AR"))">
                                <h7>@ViewBag.PresupuestoV% from last month</h7>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-sm-grow-1">
                            <h6 class="mb-2 text-white">Total Ingresos Mensual</h6>
                            <h4 class="text-white mb-0 f-w-300">@ingresos</h4>
                            <p class="text-white-50 mb-0" title="@ViewBag.IngresosAnterior?.ToString("C", new CultureInfo("es-AR"))">
                                <h7>@ViewBag.IngresosV% from last month</h7>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card @resultBalance">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-sm-grow-1">
                            <h6 class="mb-2 text-white">Total Balance Mensual</h6>
                            <h4 class="text-white mb-0 f-w-300">@ViewBag.BalanceActual?.ToString("C", new CultureInfo("es-AR"))</h4>
                            <p class="text-white-50 mb-0">
                                <h7>&nbsp;</h7>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card bg-wallet">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-sm-grow-1">
                            <h6 class="mb-2 text-white">Total Gastos Mensual</h6>
                            <h4 class="text-white mb-0 f-w-300">@gastos</h4>
                            <p class="text-white-50 mb-0" title="@ViewBag.GastosAnterior.ToString("C", new CultureInfo("es-AR"))">
                                <h7>@ViewBag.GastosV% from last month</h7>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card bg-secondary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-sm-grow-1">
                            <h6 class="mb-2 text-white">Pendiente de Pago Mensual</h6>
                            <h4 class="text-white mb-0 f-w-300">@pendientePago</h4>
                            <p class="text-white-50 mb-0">
                                <h7>&nbsp;</h7>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-2">
            <div class="card bg-brand-color-2">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-sm-grow-1">
                            <h6 class="mb-2 text-white">Proximo Presupuesto Mensual</h6>
                            <h4 class="text-white mb-0 f-w-300">@presupuestoProximo</h4>
                            <p class="text-white-50 mb-0">
                                <h7>&nbsp;</h7>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <table class="table table-hover mb-0" id="advanced-table">
        <thead>
        </thead>
        <tbody>
            @foreach (var not in @ViewBag.Notificaciones)
            {
                DateTime fechaActual = DateTime.Now;
                DateTime vto = @not.FechaNotificacion;

                var css = "text-success mb-0";
                var ico = "ok-48.png";

                if (vto.Day < fechaActual.Day)
                {
                    css = "text-danger mb-0";
                    ico = "high_priority-48.png";
                }
                else if (vto.Day == fechaActual.Day)
                {
                    css = "text-warning mb-0";
                    ico = "medium_priority-48.png";
                }
                <tr>
                    <td scope="row" align="left">
                        <div class="flex-grow-1 ms-3">
                            <div class="row g-1">
                                <div class="col-6">
                                    <h6 class="mb-0">@not.Titulo</h6>
                                    <p class="text-muted mb-0"><small>@not.Mensaje</small></p>
                                </div>
                                <div class="col-6 text-end">
                                    <h6 class="mb-1">@not.FechaNotificacion?.ToString("dd/MM/yyy", new CultureInfo("es-ES"))</h6>
                                    <p class="@css">
                                        <img src="~/images/@ico" style="height: 25px; width: 25px" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>
    <p></p>
    <div class="col-xl">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5>Alertar y Recordatorios</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0" id="advanced-table">
                        <thead>
                            <tr>
                                <th scope="col">Tipo/Categoria</th>
                                <th scope="col">Resumen</th>
                                <th scope="col">Observaciones</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha Vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var gmp in @gastosMensualesPendientes)
                            {
                                decimal saldoMesActual = 0;
                                switch(DateTime.Now.Month)
                                {
                                    case 1: saldoMesActual = gmp.Enero; break;
                                    case 2: saldoMesActual = gmp.Febrero; break;
                                    case 3: saldoMesActual = gmp.Marzo; break;
                                    case 4: saldoMesActual = gmp.Abril; break;
                                    case 5: saldoMesActual = gmp.Mayo; break;
                                    case 6: saldoMesActual = gmp.Junio; break;
                                    case 7: saldoMesActual = gmp.Julio; break;
                                    case 8: saldoMesActual = gmp.Agosto; break;
                                    case 9: saldoMesActual = gmp.Septiembre; break;
                                    case 10: saldoMesActual = gmp.Octubre; break;
                                    case 11: saldoMesActual = gmp.Noviembre; break;
                                    case 12: saldoMesActual = gmp.Diciembre; break;
                                }
                                <tr>
                                    <td scope ="row">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="mb-0">@gmp.TipoGasto?.Tipo?.Trim()</h6>
                                                <span class="text-muted f-12">@gmp.TipoGasto?.Categoria?.Nombre.Trim()</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="mb-0">@gmp.Resumen.Trim()</h6>
                                                <span class="text-muted f-12"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="mb-0">@gmp.Observaciones.Trim()</h6>
                                                <span class="text-muted f-12"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="mb-0 text-success">@saldoMesActual.ToString("C", new CultureInfo("es-AR"))</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <span class="badge bg-warning" style="font-size: 100%;">Pending</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        @foreach (var vto in @gmp?.Vencimientos)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <span class="text-muted" style="font-size: 14px;">@vto.FechaVencimiento.GetValueOrDefault().ToString("dd/MM/yyy", new CultureInfo("es-ES"))</span>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/notifier.js"></script>