@using PersonalFinanceApiNetCoreModel;
@using PersonalFinance.Models.IngresosMensuales
@using System.Globalization
@using PersonalFinance.Models.IngresosTipo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    CultureInfo culturaArgentina = new CultureInfo("es-AR");

    Prestamo prestamo = ViewBag.Prestamo;
    List<PrestamoDetalle> prestamoDetalles = ViewBag.PrestamosDetalles;
    List<Entidad> entidades = ViewBag.Entidades;
    decimal totalPagado  = ViewBag.TotalPagado;
    decimal totalRestante = prestamo.TotalDeuda - totalPagado;                        
    string modeView = ViewBag.ModeView ? "disabled" : "";

    var lstEntidades = new List<SelectListItem>();
    foreach (var e in entidades)
    {
        lstEntidades.Add(
        new SelectListItem()
        {
            Value = e.Id.ToString(),
            Text = e.Nombre,
            Selected = e.Id == prestamo.Entidad.Id ? true : false,
        });
    }

    List<SelectListItem> estados = ViewBag.Estados;

    var lstEstados = new List<SelectListItem>();
    foreach (var e in estados)
    {
        lstEstados.Add(
        new SelectListItem()
        {
            Value = e.Value.ToString(),
            Text = e.Text,
            Selected = e.Text == prestamo.Estado ? true : false,
        });
    }

}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/personalfinance.styles.css">

<script>
    function CalcularMonto() {
                console.log($('#Cuotas :selected').val());

                var cuotas = parseFloat($('#Cuotas').val());
                var MontoCuotaPromedio = parseFloat($('#MontoCuotaPromedio').val());
                var montoTotal = MontoCuotaPromedio * cuotas;

                $('#MontoTotal').val(montoTotal);
            };

</script>

<div class="text-center">
    <h1 class="display-5">@ViewBag.Title</h1>
    <p>Actualización de @ViewBag.Modulo.</p>
</div>

<div class="tab-content">
    <form method="post" asp-controller="@ViewBag.Modulo" asp-action="@ViewBag.Modulo" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <table class="table table-primary">
                <tr>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Identificador:</span>
                            <input id="Id" name="Id" class="form-control" type="text" value="@prestamo.Id" required />
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Número:</span>
                            <input id="Numero" name="Numero" class="form-control" type="text" value="@prestamo.Numero" required />
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Beneficiario:</span>
                            <input id="Beneficiario" name="Beneficiario" class="form-control" type="text" value="@prestamo.Beneficiario" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Fecha Depósito/Acreditamiento:</span>
                            <input id="FechaDeposito" name="FechaDeposito" class="form-control" type="date" data-language='es' value="@prestamo.FechaDeposito?.ToString("yyyy-MM-dd")" required>
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Código Transacción:</span>
                            <input id="CodigoTransaccion" name="CodigoTransaccion" class="form-control" type="text" value="@prestamo.CodigoTransaccion" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Entidad:</span>
                            <select id="Entidad" name="Entidad" class="form-control" required>
                                @foreach (var item in @lstEntidades)
                                {
                                    if (item.Selected)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Razón:</span>
                            <input id="Razon" name="Razon" class="form-control" type="text" value="@prestamo.Razon" required />
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Resumen:</span>
                            <input id="Resumen" name="Resumen" class="form-control" type="text" value="@prestamo.Resumen" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Capital:</span>
                            <input id="MontoCapital" name="MontoCapital" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.TotalCapital.ToString("C", new CultureInfo("es-AR"))" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Cta Promedio:</span>
                            <input id="MontoCuotaPromedio" name="MontoCuotaPromedio" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.MontoCuota.ToString("C", new CultureInfo("es-AR"))" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Cuotas:</span>
                            <input id="Cuotas" name="Cuotas" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.Cuotas" onchange="CalcularMonto()" required />
                        </div>
                    </td>                  
                    <td>
                        <div class="form-group">
                            <span class="form-label">Estado:</span>
                            <select id="Estado" name="Estado" class="form-control" required>
                                @foreach (var item in @lstEstados)
                                {
                                    if (item.Selected)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Total:</span>
                            <input id="MontoTotal" name="MontoTotal" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.TotalDeuda.ToString("C", new CultureInfo("es-AR"))" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Pagado:</span>
                            <input id="MontoPagado" name="MontoPagado" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@totalPagado.ToString("C", new CultureInfo("es-AR"))" readonly />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Restante:</span>
                            <input id="MontoPagado" name="MontoPagado" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@totalRestante.ToString("C", new CultureInfo("es-AR"))" readonly />
                        </div>
                    </td>
                </tr>
            </table>
            <p></p>
        </div>
        @if (string.IsNullOrEmpty(@modeView))
        {
            <button id="submit" type="submit" class="btn btn-primary" asp-controller="@ViewBag.Modulo" asp-action="@ViewBag.Modulo" name="action" value="actualizar">Actualizar</button>
        }
        <p></p>
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Cuota</th>
                    <th scope="col">Monto Cuota</th>
                    <th scope="col">Fecha Pago</th>
                    <th scope="col">Comprobante</th>
                    <th scope="col">Método de Pago</th>
                    <th scope="col">Estado</th>
                    <th scope="col">&nbsp;</th>
                    <th colspan="2">
                        &nbsp;
                        <form method="post" asp-controller="Pedidos">
                            <input type="text" id="prestamoId" name="prestamoId" value="@prestamo.Id" hidden="hidden" />
                            <button type="submit" class="btn btn-primary" asp-controller="@ViewBag.Modulo" asp-action="@ViewBag.Modulo" name="action" value="addDetail">Add new Detail</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detalle in @prestamoDetalles)
                {                    
                    <tr>
                        <td align="center">@detalle.Id</td>
                        <td>@detalle.Observaciones</td>
                        <td>@detalle.Cuota</td>
                        <td align="center">@detalle.MontoCuota.ToString("C", new CultureInfo("es-AR"))</td>
                        <td align="center">@detalle.FechaPagado?.ToString("dd/MM/yyyy")</td>
                        <td align="center">@detalle.ComprobantePago</td>
                        <td align="center">@detalle.MetodoPago</td>
                        <td align="center">@detalle.Estado</td>
                        <td>
                            <form method="post" asp-controller="@ViewBag.Modulo" asp-route-id="@detalle.Id">
                                <input type="text" id="prestamoId" name="prestamoId" value="@prestamo.Id" hidden="hidden" />
                                <input type="text" id="detalleId" name="detalleId" value="@detalle.Id" hidden="hidden" />
                                <button type="submit" class="btn btn-secondary" asp-controller="@ViewBag.Modulo" asp-action="@ViewBag.Modulo" name="action" value="editDetail">Edit Detail</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </form>
</div>
<p></p>

<a href="/@ViewBag.Modulo" class="btn btn-secondary">Volver</a>
