@using PersonalFinanceApiNetCoreModel;
@using PersonalFinance.Models.IngresosMensuales
@using System.Globalization
@using PersonalFinance.Models.IngresosTipo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    CultureInfo culturaArgentina = new CultureInfo("es-AR");

    Prestamo prestamo = ViewBag.Prestamo;
    List<Entidad> entidades = ViewBag.Entidades;

    string modeView = ViewBag.ModeView ? "disabled" : "";

    var lstEntidades = new List<SelectListItem>();
    foreach (var e in entidades)
    {
        lstEntidades.Add(
        new SelectListItem()
        {
            Value = e.Id.ToString(),
            Text = e.Nombre,
            Selected = e.Id == prestamo.Entidad.Id ? true : false,
        });
    }

    List<SelectListItem> estados = ViewBag.Estados;

    var lstEstados = new List<SelectListItem>();
    foreach (var e in estados)
    {
        lstEstados.Add(
        new SelectListItem()
        {
            Value = e.Value.ToString(),
            Text = e.Text,
            Selected = e.Text == prestamo.Estado ? true : false,
        });
    }

}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/personalfinance.styles.css">

<script>
    function CalcularMonto() {
                console.log($('#Cuotas :selected').val());

                var cuotas = parseFloat($('#Cuotas').val());
                var montoCapital = parseFloat($('#MontoCapital').val());
                var montoTotal = montoCapital * cuotas;

                $('#MontoTotal').val(montoTotal);
            };

</script>

<div class="text-center">
    <h1 class="display-5">@ViewBag.Title</h1>
    <p>Actualización de @ViewBag.Modulo.</p>
</div>

<div class="tab-content">
    <form method="post" asp-controller="@ViewBag.Modulo" asp-action="@ViewBag.Modulo" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <table class="table table-primary">
                <tr>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Identificador:</span>
                            <input id="Id" name="Id" class="form-control" type="text" value="@prestamo.Id" required />
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Número:</span>
                            <input id="Numero" name="Numero" class="form-control" type="text" value="@prestamo.Numero" required />
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Beneficiario:</span>
                            <input id="Beneficiario" name="Beneficiario" class="form-control" type="text" value="@prestamo.Beneficiario" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Fecha Depósito/Acreditamiento:</span>
                            <input id="FechaDeposito" name="FechaDeposito" class="form-control" type="date" data-language='es' value="@prestamo.FechaDeposito?.ToString("yyyy-MM-dd")" required>
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Código Transacción:</span>
                            <input id="CodigoTransaccion" name="CodigoTransaccion" class="form-control" type="text" value="@prestamo.CodigoTransaccion" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Entidad:</span>
                            <select id="Entidad" name="Entidad" class="form-control" required>
                                @foreach (var item in @lstEntidades)
                                {
                                    if (item.Selected)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Razón:</span>
                            <input id="Razon" name="Razon" class="form-control" type="text" value="@prestamo.Razon" required />
                        </div>
                    </td>
                    <td align="center">
                        <div class="form-group">
                            <span class="form-label">Resumen:</span>
                            <input id="Resumen" name="Resumen" class="form-control" type="text" value="@prestamo.Resumen" required />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Capital:</span>
                            <input id="MontoCapital" name="MontoCapital" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.TotalCapital.ToString("C", new CultureInfo("es-AR"))" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Cuotas:</span>
                            <input id="Cuotas" name="Cuotas" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.Cuotas" onchange="CalcularMonto()" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Monto Total:</span>
                            <input id="MontoTotal" name="MontoTotal" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" value="@prestamo.TotalDeuda.ToString("C", new CultureInfo("es-AR"))" required />
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <span class="form-label">Estado:</span>
                            <select id="Estado" name="Estado" class="form-control" required>
                                @foreach (var item in @lstEstados)
                                {
                                    if (item.Selected)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <p></p>
        </div>
        @if (string.IsNullOrEmpty(@modeView))
        {
            <button id="submit" type="submit" class="btn btn-primary" asp-controller="@ViewBag.Modulo" asp-action="@ViewBag.Modulo" name="action" value="actualizar">Actualizar</button>
        }

    </form>
</div>
<p></p>

<a href="/@ViewBag.Modulo" class="btn btn-secondary">Volver</a>
