@using PersonalFinance.Models.Entidades
@using PersonalFinance.Models.Gastos
@using PersonalFinance.Models.TarjetaConsumos
@using PersonalFinance.Models.Tarjetas
@using System.Globalization
@using PersonalFinance.Models.Transacciones
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    CultureInfo culturaArgentina = new CultureInfo("es-AR");
    TarjetaConsumo tarjetaConsumo = ViewBag.TarjetaConsumo;
    List<Tarjeta> tarjetas = ViewBag.Tarjetas;
    List<Transaccion> transacciones = ViewBag.Transacciones;    

    string modeView = ViewBag.ModeView ? "disabled" : "";

    var lstTarjetas = new List<SelectListItem>();
    foreach (var e in tarjetas)
    {
        lstTarjetas.Add(
        new SelectListItem()
        {
            Value = e.Id.ToString(),
            Text = e.Nombre,
            Selected = e.Id == tarjetaConsumo.Tarjeta.Id ? true : false,
        });
    }  
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/personalfinance.styles.css">

<script>
    function CambioTarjeta() {
                console.log($('#Tarjeta :selected').val());

                $('#TarjetaSel').val($('#Tarjeta :selected').val());
            };

    function MostrarTransaccion() {
                console.log('MostrarTransaccion');

                
            };

</script>

<div class="text-center">
    <h1 class="display-5">@ViewBag.Title</h1>
    <p>Actualización de @ViewBag.Modulo.</p>
</div>

<div class="tab-content">
    <form method="post" asp-controller="@ViewBag.Modulo" asp-action="Gastos" enctype="application/x-www-form-urlencoded" >
        <div class="form-group">
            <table class="table table-primary">
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Identificador Interno:</span>
                            @if (string.IsNullOrEmpty(@modeView))
                            {
                                <input type="text" id="Id" name="Id" class="form-control" asp-for="@tarjetaConsumo.Id" value="@tarjetaConsumo.Id" readonly />
                            }
                            else
                            {
                                <input type="text" id="Id" name="Id" class="form-control" asp-for="@tarjetaConsumo.Id" value="@tarjetaConsumo.Id" disabled />
                            }                       
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Cuotas:</span>
                            <input id="Cuotas" name="Cuotas" class="form-control" type="number" min="0.00" max="1000000.00" step="0.01" value="@tarjetaConsumo.Cuotas" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Tarjeta:</span>
                            <select id="Tarjeta" name="Tarjeta" class="form-control" onchange="CambioTarjeta()" required>
                                @foreach (var item in @lstTarjetas)
                                {
                                    if (item.Selected)
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                            <span class="select-arrow"></span>
                            <input id="TarjetaSel" name="TarjetaSel" class="form-control" value="@lstTarjetas[0].Value" hidden>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="form-group">
                            <span class="form-label">Entidad de Compra:</span>
                            @if (string.IsNullOrEmpty(@modeView))
                            {
                                <input type="text" id="EntidadCompra" name="EntidadCompra" class="form-control" asp-for="@tarjetaConsumo.EntidadCompra" value="@tarjetaConsumo.EntidadCompra" />
                            }
                            else
                            {
                                <input type="text" id="EntidadCompra" name="EntidadCompra" class="form-control" asp-for="@tarjetaConsumo.EntidadCompra" value="@tarjetaConsumo.EntidadCompra" disabled />
                            }                            
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="form-group">
                            <span class="form-label">Detalle:</span>
                            
                            @if (string.IsNullOrEmpty(@modeView))
                            {
                                <input type="text" id="Detalle" name="Detalle" class="form-control" asp-for="@tarjetaConsumo.Detalle" value="@tarjetaConsumo.Detalle" required />
                            }
                            else
                            {
                                <input type="text" id="Detalle" name="Detalle" class="form-control" asp-for="@tarjetaConsumo.Detalle" value="@tarjetaConsumo.Detalle" disabled />
                            }
                        </div>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Enero:</span>
                            <input id="Enero" name="Enero" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Enero" value="@tarjetaConsumo.Enero" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Febrero:</span>
                            <input id="Febrero" name="Febrero" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Febrero" value="@tarjetaConsumo.Febrero" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Marzo:</span>
                            <input id="Marzo" name="Marzo" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Marzo" value="@tarjetaConsumo.Marzo" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Abril:</span>
                            <input id="Abril" name="Abril" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Abril" value="@tarjetaConsumo.Abril" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Mayo:</span>
                            <input id="Mayo" name="Mayo" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Mayo" value="@tarjetaConsumo.Mayo" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Junio:</span>
                            <input id="Junio" name="Junio" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Junio" value="@tarjetaConsumo.Junio" required />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Julio:</span>
                            <input id="Julio" name="Julio" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Julio" value="@tarjetaConsumo.Julio" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Agosto:</span>
                            <input id="Agosto" name="Agosto" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Agosto" value="@tarjetaConsumo.Agosto" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Septiembre:</span>
                            <input id="Septiembre" name="Septiembre" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Septiembre" value="@tarjetaConsumo.Septiembre" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Octubre:</span>
                            <input id="Octubre" name="Octubre" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Octubre" value="@tarjetaConsumo.Octubre" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Noviembre:</span>
                            <input id="Noviembre" name="Noviembre" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Noviembre" value="@tarjetaConsumo.Noviembre" required />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <span class="form-label">Diciembre:</span>
                            <input id="EnDiciembreero" name="Diciembre" class="form-control" type="text" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Diciembre" value="@tarjetaConsumo.Diciembre" required />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" align="left">
                        <div class="form-group">
                            <span class="form-label">Verificado:</span>
                            @if (@tarjetaConsumo.Verificado)
                            {
                                <input type="checkbox" id="Verificado" name="Verificado" asp-for="@tarjetaConsumo.Verificado" checked />
                            }
                            else
                            {
                                <input type="checkbox" id="Verificado" name="Verificado" asp-for="@tarjetaConsumo.Verificado" />
                            }
                        </div>
                        <div class="form-group">
                            <span class="form-label">Pagado:</span>
                            @if (@tarjetaConsumo.Pagado)
                            {
                                <input type="checkbox" id="Pagado" name="Pagado" asp-for="@tarjetaConsumo.Pagado" checked />
                            }
                            else
                            {
                                <input type="checkbox" id="Pagado" name="Pagado" asp-for="@tarjetaConsumo.Pagado" />
                            }
                        </div>
                    </td>
                    <td colspan="1" align="center">
                        <div class="form-group">
                            <span class="form-label">Año:</span>
                            <input id="Ano" name="Ano" class="form-control" type="number" min="0.00" max="1000000.00" step="0.01" asp-for="@tarjetaConsumo.Ano" value="@tarjetaConsumo.Ano" disabled />
                        </div>
                    </td>
                    <td colspan="1" align="center">
                        <div class="form-group">
                            <form method="post" asp-controller="Transacciones">                                
                                <span class="form-label">Transaccion Id:</span>
                                <input id="TransaccionId" name="TransaccionId" class="form-control" style="width: 70px;" type="number" min="0.00" max="1000000.00" step="0.01" value="" />
                                <button type="submit" class="btn btn-primary" asp-controller="Transacciones" asp-action="TransaccionFormEdit" name="action" value="openFormEdit">Associate Transacción Id</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            <p></p>         
            <table class="table table-secondary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Código de Transacción</th>
                        <th scope="col">Nro Orden / Compra</th>
                        <th scope="col">Entidad Asociada</th>
                        <th scope="col">Fecha de Transacción</th>
                        <th scope="col">Resumen</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">&nbsp;</th>
                        <th colspan="2">
                            &nbsp;
                            <form method="post" asp-controller="Transacciones">
                                <button type="submit" class="btn btn-primary" asp-controller="Transacciones" asp-action="TransaccionFormAdd" name="action" value="addTransaccion">Add new Transacción</button> 
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaccion in @transacciones)
                    {

                        <tr>
                            <td scope="row" align="center">@transaccion.Id</td>
                            <td scope="row">@transaccion.CodigoTransaccion</td>
                            <td scope="row">@transaccion.OrdenCompra</td>
                            <td scope="row" align="center">@transaccion.EntidadAsociada</td>
                            <td scope="row">@transaccion.FechaTransaccion</td>
                            <td scope="row">@transaccion.Resumen</td>
                            <td scope="row">@transaccion.Observaciones</td>
                            <td scope="row">
                               
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @if (string.IsNullOrEmpty(@modeView))
        {
            <button id="submit" type="submit" class="btn btn-primary" asp-controller="@ViewBag.Modulo" asp-action="ConsumosTarjetas" name="action" value="actualizar">Actualizar</button>
        }

    </form>
</div>
<p></p>

<a href="/@ViewBag.Modulo" class="btn btn-secondary">Volver</a>
