@using PersonalFinance.Models.Tarjetas
@using System.Globalization
@{
    ViewData["Title"] = ViewBag.Title;
    ViewBag.Ruta = $"{ViewBag.Modulo} > {ViewBag.Title}";
    List<Tarjeta> tarjetas = ViewBag.Tarjetas;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/personalfinance.styles.css">

<div class="text-center">
    <h1 class="display-5">@ViewBag.Message</h1>
    <p>Listado de @ViewBag.Modulo.</p>
</div>

<div class="tab-content">
    <table class="table myaccordion table-hover" id="accordion">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Denominación</th>
                <th scope="col" align="center">Fecha de Cierre</th>
                <th scope="col" align="center">Fecha de Vencimiento</th>
                <th scope="col" align="center">Entidad</th>
                <th scope="col" align="center">Activo</th>
                <th>
                    &nbsp;
                    <form method="post" asp-controller="@ViewBag.Modulo">
                        <button type="submit" class="btn btn-primary" asp-controller="@ViewBag.Modulo" asp-action="TarjetaFormAdd" name="action" value="openFormAdd">Add new @ViewBag.Modulo</button>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entidad in @tarjetas)
            {
                <tr>
                    <td scope="row" id="Id">@entidad.Id</td>
                    <td scope="row" id="Numero">@entidad.Nombre</td>
                    <td scope="row" id="FechaCierre">@entidad.FechaCierre.ToString("dd/MM/yyy", new CultureInfo("es-ES"))</td>
                    <td scope="row" id="FechaVencimiento">@entidad.FechaVencimiento.ToString("dd/MM/yyy", new CultureInfo("es-ES"))</td>
                    <td scope="row" id="Entidad">@entidad.Entidad.Nombre</td>
                    <td scope="row" id="Estado">@entidad.Activo</td>
                    <td>
                        <form method="post" asp-controller="@ViewBag.Modulo" asp-route-id="@entidad.Id">
                            <input type="text" name="Id" value="@entidad.Id" hidden="hidden" />
                            <input type="text" name="Nombre" value="@entidad.Nombre" hidden="hidden" />
                            <button type="submit" class="btn btn-secondary" asp-controller="@ViewBag.Modulo" asp-action="TarjetaFormEdit" name="action" value="openFormEdit">Edit Entitty</button>
                            &nbsp;|&nbsp;
                            <button type="submit" class="btn btn-secondary" asp-controller="@ViewBag.Modulo" asp-action="TarjetaFormEdit" name="action" value="openFormView">View Entitty</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<p></p>
<p>>>>>>&nbsp;&nbsp;@ViewBag.Ruta</p>
<a href="/@ViewBag.Modulo" class="btn btn-secondary">Volver</a>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>